.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80vh;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 5px 0 gray;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  overflow-y: scroll;
}

@media screen and (min-width: 320px) {
  .chat-container {
    width: 90%;
    height: 90vh;
  }
}

@media screen and (min-width: 768px) {
  .chat-container {
    width: 75%;
    height: 90vh;
  }
}

@media screen and (min-width: 1024px) {
  .chat-container {
    width: 70%;
    height: 90vh;
  }
}

@media screen and (min-width: 1280px) {
  .chat-container {
    width: 60%;
  }
}

@media screen and (min-width: 1440px) {
  .chat-container {
    width: 50%;
  }
}